body {
    width: 175px;
    font-size: 14px;
    font-family: Verdana, Arial, Ubuntu, sans-serif;
    margin: 0;
}
a, 
a:link, 
a:visited {
    color: #3B5998;
    text-decoration: none;
}
.icon {
    float: left;
    margin-top: 11px;
    margin-left: 8px;
}
.header {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    background: #3B5998;
    color: white;
}
.center {
    text-align: center;
}
.content {
    color: #222222;
    margin: 4px 8px;
}
#alerts,
#messages,
#friends {
    font-weight: 100;
}
